<h3>Create a Simple Invoice Account</h3>

 <div id="registervalidationerrors" class="registererrors">
    <div class="validationtitle">
    <div class="closeerrors"></div>
    Please correct the following errors before saving
    </div>
     <div class="errorholder"></div>
  </div>

<div class="formholder registerformholder">
    <%= form_for(:user, url: registration_path(:user), remote: true, html: { class: "registerform" }) do |f| %>
        <%= f.label :email %>
        <%= f.email_field :email, class: "registeremail", placeholder: "Email address" %>

        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
        <%= f.password_field :password, autocomplete: "off", placeholder: "Password" %>

        <%= f.label :password_confirmation, "Confirm Password" %>
        <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirm password" %>

        <%= f.submit "Sign up", class: "button blue willload registerbutton" %>
    <% end %>
</div>