<div class="homeinvoice">
<div class="homeinvoiceloader"><div class="throbber-loader">Loading...</div></div>
  <h3><%= invoice.client_name %></h3>
  <div class="balancesection">
    <div class="vcenter">
      Balance:
      <span <%= 'class=overdue' if invoice.overdue? %>><%= number_to_currency(invoice.balance) %></span>
    </div>
  </div>
  <div class="invoiceinfosection">
    Invoice Number: <strong><%= invoice.invoice_number %></strong><br>
    <%= print_days_until_due(invoice) %>
  </div>
  <%= link_to "View Invoice", invoice_path(invoice.invoice_number), class: "viewinvoice" %>
  <%= link_to invoice_path(invoice.invoice_number, format: "pdf"), class: "thirdbutton file" do %>
      <span>View PDF</span>
  <% end %>
  <a href="#" class="thirdbutton mail"><span>Email Invoice</span></a>
  <a href="#" class="thirdbutton noborder pig"><span>Record Payment</span></a>
  </div>