
<a href="<%= invoice_path(invoice.invoice_number) %>" class="mobilehomeinvoice"> 
<h3><%= invoice.client_name %></h3>
<p>Total: <strong><%= number_to_currency(invoice.total) %></strong></p>
<div class="invoicestatus"><%= invoice.print_days_until_due %></div>
</a>




<div class="homeinvoice" data-invoice-number="<%= invoice.invoice_number %>">

<div class="homeinvoiceloader"><div class="throbber-loader">Loading...</div></div>



<h3><%= invoice.client_name %></h3>

<div class="homeinvoiceinfowrapper">

<div class="homeupdatebalance">

<%= form_for(invoice, :url => update_invoice_path(invoice.invoice_number), remote: true) do |f| %>
<%= hidden_field_tag :from_index_page %>


<div class="homerecordtable">

  <div class="row invoicetotalrow">
    <div class="cell">Invoice Total</div>
    <div class="cell invoicetotalcell"><%= number_to_currency(invoice.total) %></div>
  </div>

   <div class="row amountpaidrow">
    <div class="cell">- Amount Paid</div>
    <div class="cell">

      <%= f.text_field :amount_paid, value: number_with_precision(invoice.amount_paid, precision: 2), autocomplete: "off" %>
       <span class="e-amountpaid" contenteditable="true" name="invoice[amount_paid]">
          <%= number_with_precision(invoice.amount_paid, precision: 2) %>
        </span>

      <div class="homeamountpaiderror"></div>

    </div>
  </div>

   <div class="row balancerow">
    <div class="cell">Invoice Balance</div>
    <div class="cell balancecell"><%= number_to_currency(invoice.balance) %></div>
  </div>

</div>

<%= f.submit 'Record Payment', class: "button small greenbutton recordpaymentbutton willload homerecordpayment" %>

<% end %>

</div>

<div class="homeinvoiceinfo">
  <div class="balancesection">

    <div class="vcenter">
      <div class="balancetitle">Balance:</div>
      <div class="homeinvoicebalance">
       <span class="<%= invoice.invoice_status_class %>"><%= number_to_currency(invoice.balance) %></span>
      </div>
    </div>
  </div>
  <div class="invoiceinfosection">
    Invoice Number: <strong><%= invoice.invoice_number %></strong><br>
    Total: <strong><%= number_to_currency(invoice.total) %></strong><br>
    Date: <strong><%= invoice.date.strftime("%B %-d, %Y") %></strong><br>
    <div class="invoicestatus"><%= invoice.print_days_until_due %></div>
  </div>

</div>

</div>

  <%= link_to "View Invoice", invoice_path(invoice.invoice_number), class: "viewinvoice" %>
  <%= link_to invoice_path(invoice.invoice_number, format: "pdf"), class: "thirdbutton file" do %>
      <span>View PDF</span>
  <% end %>
  <a href="#" class="thirdbutton mail emailmodal" data-invoice-number="<%= invoice.invoice_number %>"><span>Email Invoice</span></a>
  <a href="#" class="thirdbutton noborder pig">

  <div class="overflowcontainer">
    <div class="amountpaidbutton showamountpaid"></div>
    <div class="amountpaidbutton closeamountpaid"></div>
  </div>

    <span>Record Payment</span>

  </a>
  </div>

