<%= content_for(:nophone, true) %>
<%= content_for(:mobilesidebar, true) %>
<%= provide :special_class, " generateinvoice #{invoice_type_class(@invoice)}" %>

<% if @invoice.nil? %>
  <%= render 'not_found', invoice_type: invoice_type_by_url %>
<% else %>

<%= provide :title, "Edit #{@invoice.display_invoice_type} ##{@invoice.display_number}" %>

<% if @validation_failed %>
  <% content_for :body_class, "validationfailed invoicevalidation" %>
<% end %>

<div id="formwrapper">
<%= form_for(@invoice, :url => invoice_link_to_path('update', @invoice), remote: true) do |f| %>

<div id="toolbar">
  <div id="toolbarcontent">
    <%= link_to "Back to #{@invoice.display_invoice_type}", invoice_link_to_path('', @invoice), class: "back" %>
    <%= f.submit "Save #{@invoice.display_invoice_type}", tabindex: '-1', class: "button blue willload saveicon" %>
  </div>
</div>

<div id="mobilesidebarwrapper" class="invoicesidebar">
  <aside id="sidebar">
      <div class="scrollwrapper">
      <div id="controls">
        <h2>Date <span class="invoiceonly">and Terms</span></h2>
          <div class="control datecontrol">
            <div class="alignment">
                  <span>Date</span>
                  <%= f.text_field :date, class: "datefield", 'date' => @invoice.date.strftime("%B %d, %Y"), readonly: true %>
              </div>
          </div>
          <div class="control invoiceonly">
            <div class="alignment">
                  <span>Terms</span>
                  <select class="terms">
                    <option data-term="0">Same Day</option>
                      <option data-term="7">7 Days</option>
                      <option data-term="14">14 Days</option>
                      <option data-term="21">21 Days</option>
                      <option data-term="30">30 Days</option>
                      <option data-term="45">45 Days</option>
                      <option data-term="60">60 Days</option>
                      <option data-term="90">90 Days</option>
                      <option data-term="180">180 Days</option>
                      <option data-term="365">365 Days</option>
                  </select>
              </div>
          </div>
          <div class="control duedatecontrol invoiceonly">
            <div class="alignment">
                  <span>Due</span>
                  <%= f.text_field :due_date, class: "duedatefield", 'date' => @invoice.due_date.strftime("%B %d, %Y"), readonly: true %>
              </div>
          </div>
          <h2>
            Client
            <% if @invoice.client_id.nil? %>
              <a href="#" class="modal clients-modal addclient" data-title="Clients">
               <span>Add Saved Client</span>
             </a>
            <% else %>
              <a href="#" class="clients-modal removeclient nomodal" data-title="Clients">
               <span>Add Saved Client</span>
             </a>
            <% end %>
             
          </h2>
          <div class="control bonly">
          <div class="alignment">
              <span>Client Name</span>
              <%= f.text_field :client_name, class: "clientnameinput", autocomplete: "off" %>
              </div>
          </div>
      </div>

        <div class="button deleteinvoice deleteicon" <%= @invoice.display_number_data_attribute %>>Delete Invoice</div>

      </div>
  </aside>
</div>

<!-- Start Invioce -->

<div id="mobilescrollwrapper">

<div id="validationerrors">
  <div class="validationtitle">
    <div class="closeerrors"></div>
    Please correct the following errors before saving
  </div>
  <div id="errorholder"></div>
</div>

<div id="invoicewrapper" class="edit">
    <div id="invoice">
    
      <section id="invoicenumber">
          <div>
              <div id="numberwrapper">No. <span id="e-invoicenumber"><%= @invoice.invoice_number %></span><span id="e-estimatenumber"><%= @invoice.estimate_number %></span></div>
              <%= f.select :invoice_type, options_for_select(Invoice::select_invoice_types, selected: @invoice.display_invoice_type), {}, { class: "invoicetypeselect" } %>
            </div>
       </section> 
       
      <section id="companyinformation">

            <% unless no_current_logos? && @invoice.logo.blank? %>
              <div id="invoicelogo">
                  <%= f.hidden_field :logo, value: @invoice.logo %>

                  <%= f.hidden_field :logo_width, value: @invoice.logo_width, class: "logowidthfield" %>
                  <%= f.hidden_field :logo_height, value: @invoice.logo_height, class: "logoheightfield" %>

                  <% if @invoice.logo.blank? %>

                    <div id="noinvoicelogo">

                        <div id="haslogo">
                          <div id="logoresize">
                            <%= image_tag current_user.display_logo.url, class: "invoicelogoimage", data: { width: current_user.current_logo.logo_width, height: current_user.current_logo.logo_height } %>
                          </div>
                      <div id="removelogobutton" class="removelogo">
                        <span>Remove Logo</span>
                      </div>
                    </div>
                    <div id="nologo">
                      <div class="button blue addlogobutton" data-logo-url="<%= current_user.display_logo_url %>">Add Logo</div>
                    </div>


                    </div>

                  <% else %>
                      <div id="haslogo">
                      <div id="logoresize">
                        <%= image_tag @invoice.logo, class: "invoicelogoimage", data: { width: @invoice.logo_width, height: @invoice.logo_height } %>
                      </div>
                      <div id="removelogobutton" class="removelogo">
                        <span>Remove Logo</span>
                      </div>
                    </div>
                    <div id="nologo">
                      <div class="button blue addlogobutton" data-logo-url="<%= current_user.display_logo_url %>">Add Logo</div>
                    </div>
                  <% end %>
                  
              </div>
            <% end %>
         
            <div id="dateterms">
              <table border="0" cellspacing="0" cellpadding="0">
                  <tbody>
                    <tr>
                      <td align="right">Date:</td>
                      <td class="invoicesetting"><span id="e-date" <%= display_content_editable %>><%= @invoice.date.strftime("%B %d, %Y") %></span></td>
                    </tr>
                    <tr class="invoiceonly">
                      <td align="right">Terms:</td>
                      <td class="invoicesetting">
                        <select class="terms">
                            <option data-term="0">Same Day</option>
                            <option data-term="7">7 Days</option>
                            <option data-term="14">14 Days</option>
                            <option data-term="21">21 Days</option>
                            <option data-term="30">30 Days</option>
                            <option data-term="45">45 Days</option>
                            <option data-term="60">60 Days</option>
                            <option data-term="90">90 Days</option>
                            <option data-term="180">180 Days</option>
                            <option data-term="365">365 Days</option>
                        </select>
                      </td>
                    </tr>
                    <tr class="invoiceonly">
                      <td align="right">Due Date:</td>
                      <td class="invoicesetting"><span id="e-duedate" <%= display_content_editable %>><%= @invoice.due_date.strftime("%B %d, %Y") %></span></td>
                    </tr>
                  </tbody>
                </table>
            </div>
      </section>
      
       <section id="clientinformation">

         <div id="userinfo">
            <%= f.text_field :name %>
                  <span id="e-name" <%= display_content_editable %> placeholder="Name" name="invoice[name]"><%= @invoice.name %></span><br>
                  <%= f.text_field :address_line1 %>
                  <span id="e-address" <%= display_content_editable %> placeholder="Address" name="invoice[address_line1]"><%= @invoice.address_line1 %></span><br>
                  <%= f.text_field :address_line2 %>
                  <span id="e-cityzip" <%= display_content_editable %> placeholder="City, State, Zip" name="invoice[address_line2]"><%= @invoice.address_line2 %></span><br>
                  <%= f.text_field :phone %>
                  <span id="e-phone" <%= display_content_editable %> placeholder="Phone" name="invoice[phone]"><%= @invoice.phone %></span>
            </div>

             <div id="clientinfo">
                  <%= hidden_field_tag :client_id, @client_id, value: @invoice.client_id %>
          <div class="sectiontitle">Bill To:</div>
                 <span id="e-clientname" <%= display_content_editable %> placeholder="Client Name" name="invoice[client_name]"><%= @invoice.client_name %></span><br>
                  <%= f.text_field :client_address_line1 %>
                  <span id="e-clientaddress" <%= display_content_editable %> placeholder="Client Address" name="invoice[client_address_line1]"><%= @invoice.client_address_line1 %></span><br>
                  <%= f.text_field :client_address_line2 %><span id="e-clientcityzip" <%= display_content_editable %> placeholder="Client City, State, Zip" name="invoice[client_address_line2]"><%= @invoice.client_address_line2 %></span><br>
          </div>
       </section>
       
       <section id="invoiceitems">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr class="tableheading">
                        <th width="61%" align="left">Description</th>
                        <th width="11%" align="right">Quantity</th>
                        <th width="10%" align="right">Rate</th>
                        <th width="18%" align="right">Amount</th>
                      </tr>
                        <%= f.fields_for :jobs, @invoice.jobs do |c| %>
                        <tr changed="true" class="jobrow">
                          <td align="left" class="jobdescriptioncell">
                                <%= c.text_area :job_description, class: "job-description-box" %>
                                <span class="e-jobdescription job_description" <%= display_content_editable %> placeholder="Type a job description">
                                  <%= c.object.job_description %>
                                </span>
                          </td>
                          <td align="right" class="quantitycell">
                                <%= c.text_field :job_quantity, class: "job-quantity-box", value: (number_with_precision(c.object.job_quantity, precision: 15, scale: 2, strip_insignificant_zeros: true)) %>
                                <span class="e-quantity job_quantity" <%= display_content_editable %> placeholder="Quantity">
                  <%= number_with_precision(c.object.job_quantity, precision: 15, scale: 2, strip_insignificant_zeros: true) %>
                                </span>
                          </td>
                          <td align="right" class="ratecell">
                                <%= c.text_field :job_rate, class: "job-rate-box", value: (number_with_precision(c.object.job_rate, precision: 15, scale: 2, strip_insignificant_zeros: true))  %>
                                <span class="e-rate job_rate" <%= display_content_editable %> placeholder="Rate">
                                  <%= number_to_human(c.object.job_rate, precision: 15, scale: 2, strip_insignificant_zeros: true) %>
                                </span>
                          </td>
                          <td align="right" class="amountcell">
                                <div class="amountbox"><%= number_to_currency(print_subtotal(c.object.job_quantity,c.object.job_rate), format: '%n') %></div>
                                <div class="jobcontrols">
                                <div class="delete existing"></div>
                                <%= c.hidden_field :will_delete, value: false %>
                                <div class="insert"></div>
                            </div>
                          </td>
                        </tr>
                  <% end %>
            </table>
       </section>

       <section id="invoicetax">
          <div id="hastaxwrapper">
            <div class="hastaxtitle">Tax: <span class="hastaxtext">No Tax</span></div>
            <%= f.check_box :has_tax, class: "cmn-toggle cmn-toggle-round taxtoggle" %>
            <%= f.label :has_tax, '', class: "cmn-toggle-1" %>
          </div>
          <div id="taxinformation">
            <div class="taxamount">
              <%= f.text_field :tax, class: "tax-rate-box onlynumber" %>
              Tax: <span class="e-taxamount onlynumber" <%= display_content_editable %>><%= @invoice.tax %></span> <span class="percentage">%</span>
            </div>
            <div class="taxincluded">
              <div class="checkboxholder">
                <%= f.check_box :tax_included, class: "includedtoggle" %>
                <label for="invoice_tax_included"><span></span>
                  <div>
                    <div>Tax Inclusive:</div>
                    <div class="inclusiontext">Not Included</div>
                  </div>
                </label>
              </div>
            </div>
          </div>
       </section>
       
       <section id="invoicetotal">
            <div id="invoiceamount"></div>
            <%= f.hidden_field :total, value: '0.00' %>
            Total:
       </section>
       
       <section id="notes">
            <div class="sectiontitle notestitle">Notes:</div>
             <%= f.text_area :notes %>
            <div id="e-notes" <%= display_content_editable %> value="<%= @invoice.notes %>" placeholder="Type any notes regarding the invoice here." name="invoice[notes]"></div>
       </section>
       
    </div>
</div>
</div>
<% end %>


<% end %>
</div>

