<%= provide :title, @invoice_types %>
<%= content_for(:mobilesidebar, true) %>
<%= provide :special_class, " is#{@invoice_types.downcase.singularize}" %>
<% if @invoices.any? %>

<%= provide :outside_content do %>

  <div id="homepagination">
    <%= js_will_paginate @invoices, previous_label: 'Previous', next_label: 'Next' %>
  </div>

  <div id="mobilesidebarwrapper">
      <div id="homeside">
        <div class="homesidesection homefiltersection">
           <h3>Filter <%= @invoice_types %></h3>
           <form accept-charset="UTF-8" action="/<%= @invoice_types.downcase %>" method="get" class="homefilter">
              <input type="text" name="client_name" class="search client_name_search" placeholder="Client Name" autocomplete="off">
                <input type="text" name="<%= @invoice_types.downcase.singularize %>_number" class="search invoice_number_search onlynumber" placeholder="<%= @invoice_types.singularize %> Number" autocomplete="off">
              <div class="homesortoptions homesideborders">
                 <h4>Sort <%= @invoice_types %> By:</h4>
                 <select class="search invoice_sorted_by searchchange" name="sorted_by">
                    <option value="created_at_desc" selected="selected">Created at (newest first)</option>
                    <option value="created_at_asc">Created at (oldest first)</option>
                    <% if @is_estimates %>
                      <option value="estimate_number_desc">Estimate Number (highest first)</option>
                      <option value="estimate_number_asc">Estimate Number (lowest first)</option>
                    <% else %>
                      <option value="invoice_number_desc">Invoice Number (highest first)</option>
                      <option value="invoice_number_asc">Invoice Number (lowest first)</option>
                    <% end %>
                    <option value="client_name_asc">Client Name (a-z)</option>
                    <option value="client_name_desc">Client Name (z-a)</option>
                 </select>
              </div>
              <% unless @is_estimates %>
              <div class="checkboxholder">
                 <input type="checkbox" id="c1" name="currently_due" class="search invoice_show_currently_due searchchange" />
                 <label for="c1">
                    <span></span>
                    <div>Only show invoices currently due and not paid in full.</div>
                 </label>
              </div>
              <% end %>
           </form>
        </div>
        <% unless @is_estimates %>
        <div id="invoicesoverview" class="homesidesection">
           <span class="homenumberdue"><%= pluralize(number_of_due_invoices, 'invoice') %> due and not paid in full.</span>
           <div id="hometotaldue" class="homesideborders">
              Total Due: <span <%= 'class=overdue' if total_amount_due > 0 %>><%= number_to_currency(total_amount_due) %>
           </div>
        </div>
        <% end %>
        <div class="homesidesection">
          <%= new_invoice_button("button blue newinvoiceicon") %>
          <div class="closemobilesidebar button blue">Close</div>
        </div>
      </div>

   </div>
<% end %>

<div id="pagewrapper" class="homepage widthfixedsidebar">

<%= mobile_home_create_button %>
     
   <div id="searchresultswrapper" class="homeresults">
      <div id="searchnoinvoices" class="noinvoices">
         <p>No <%= @invoice_types %> Found</p>
         <%= link_to "New Invoice", new_invoice_path, class: "button blue" %>
      </div>
      <div class="loadingspinner">
         <div class="loadingcircle">
            <div class="throbber-loader">Loading...</div>
         </div>
      </div>
      <div id="searchresults">
         <%= render 'list' %>
      </div>
   </div>

   <% else %>

   <div id="pagewrapper">

      <div id="searchnoinvoices">
        <p>No <%= @invoice_types %> Found</p>
        <% if @is_estimates %>
          <%= link_to "Create Your First Estimate", new_estimate_path, class: "button blue" %>
        <% else %>
          <%= link_to "Create Your First Invoice", new_invoice_path, class: "button blue" %> 
        <% end %>
      </div>
      <div class="loadingspinner">
         <div class="loadingcircle">
            <div class="throbber-loader">Loading...</div>
         </div>
      </div>
      <div id="searchresults">
         <%= render 'list' %>
      </div>


   <% end %>
</div>