<!doctype html>
<html>
  <head>
    <meta charset='utf-8' />

    <%= wicked_pdf_stylesheet_link_tag('pdfs/pdf-fonts.css') %>

<style>

body {
  margin:0 !important;
  padding: 0 !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family:'Libertad400';
}

#pdfinvoicewrapper {
	width:8.5in;
  top:0;
  right:0;
  left:0;
	position:absolute;
  box-sizing:border-box;
  font-weight: inherit;
}

#pdfinvoicewrapper:after {
	clear:both;
	display:block;
	content:"";
}

.bottomhider, .tophider  {
  position:fixed;
  left:0;
  z-index: 200;
  width:8.5in;
  background:red;
  opacity:.5;
}

.tophider {
  height: 30px;
}

.pagebreak { 
  display:block; 
  clear:both; 
  page-break-after:always;
  background:red;
}

.pagebreakafter:after {
  display:block;
  page-break-after:always; 
  content:"";
}

tr  { 
  page-break-inside:avoid; 
  position:relative;
}

tr.firstrow td {
  border-top:none !important;
}

tr.lastrow td {
  border-bottom:none !important;
}

/* Default theme code */

#invoice {
	background:#fff;
  width:calc(100% - 50px);
	display:block;
  font-size:17px;
  color:#000;
  margin: 0 50px;
}

.hiddencontainer {
	display:none;
	position:absolute;
	left:-9999px;
}

#invoice span {
	min-width:5px;
	display:block;
	max-width:100%;
}

#invoice #e-invoicenumber {
	display:inline;	
}

section {
	border-bottom:1px solid #000;	
	box-sizing:border-box;
	padding:25px 33px 22px 33px;
	position:relative;
  font-weight:lighter;
	line-height:1.3em;
}

section:after {
	content:"";
	display:block;
	clear:both;	
}

#invoicenumber {
	border-bottom:2px solid #000;	
	padding:0px 33px 10px 40px;
}

#invoicenumber span {
	display:inline;
	float:none;	
}

#invoicenumber div {
	text-align:right;
	font-size:23px;
}

#userinfo {
	width:50%;	
	float:left;
	line-height:1.3em;
}

#e-invoicenumber {
  font-weight:bold;
  font-family: 'Libertad600'
	min-width:15px;
}

#e-name {
	font-weight:bold;
	font-size:28px;
	margin-bottom:10px;
}

#dateterms {
  width:240px;
	float:right;	
}

#dateterms span {
	font-weight:bold;
}

#dateterms td {
	padding-bottom:2px;
  white-space: nowrap;
}

#dateterms td.invoicesetting {
	max-width:100%;
	width:1%;
	white-space:nowrap;
	padding-left:10px;
}

.terms {
	width:100%;
}

.sectiontitle {
	font-weight:bold;
	font-size:19px;
	display:block;
	margin-bottom:4px;	
}

#invoicelogo {
  width:350px;
  float:left;
  margin-top:2px;
}

#invoicelogo img {
  max-width:100%;
  height:auto;
}

#userinfo {
  width:50%;  
  float:left;
  box-sizing: border-box;
  padding-right:15px;
}

#clientinfo {
  width:42%;
  text-align: right;
  float:right;
  box-sizing: border-box;
  padding-left:15px;
  margin-top:-6px;
}

#clientinformation {
	font-weight:lighter;
}

#invoiceitems {
	font-size:16px;
	padding-bottom:15px;
}

#invoiceitems th {
  font-weight:bold;
	padding-bottom:10px;
}

#invoiceitems td {
	padding:12px 0;
	border-top:1px solid #000;
  white-space: nowrap;
}

#invoicetotal {
	font-size:20px;
  font-weight:bold;
}

#invoicetotal span {
  float:left;
  line-height:1;
  display:static;
}

#invoiceamount {
	float:right;
  white-space: nowrap;
	text-align:right;
	font-size:30px;
  margin-top:-2px;
}

#invoicetax {
  padding-top:21px;
  line-height:1;
}

#taxinformation {
  width:50%;
  float:right;
  display:none;
  text-align: right;
}

.e-taxamount {
  font-weight:bold;
}

#taxinformation span {
  display:inline;
}

.taxincluded {
  font-size:13px;
  color:#686666;
  font-weight:bold;
  line-height:1;
}

#taxinformation {
  display:block;
}

#notes {
	border-bottom:none;
	padding:0;
}

#notes p {
	margin-top:0;
}

#notes p:last-child {
	margin-bottom:0;
}

#e-notes {
	display:block !important;
	padding:48px 33px 22px 33px;
	margin:0;
}

.notestitle {
	position: absolute;
    z-index: 200;
    top: 25px;
    left: 33px;
}


</style>

<%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js" %>

</head>

<body>



<div id="pdfinvoicewrapper">
    <div id="invoice">
    	<section id="invoicenumber">
       		<div>
            	Invoice No. <span id="e-invoicenumber"><strong><%= @invoice.invoice_number %></strong></span>
            </div>
       </section> 
       
      <section id="companyinformation">

            <div id="invoicelogo"> 
              <%= pdf_image_tag @invoice %>
            </div>
       		
            <div id="dateterms">
            	<table border="0" cellspacing="0" cellpadding="0">
                  <tbody>
                    <tr>
                      <td align="right">Date:</td>
                      <td class="invoicesetting"><span id="e-date">
                      <%= @invoice.date.strftime("%B %-d, %Y") %></span></td>
                    </tr>
                    <tr>
                      <td align="right">Terms:</td>
                      <td class="invoicesetting">
                      	Net <%= get_terms %>
                      </td>
                    </tr>
                    <tr>
                      <td align="right">Due Date:</td>
                      <td class="invoicesetting"><span id="e-duedate" contenteditable="<%= @editable %>"><%= @invoice.due_date.strftime("%B %-d, %Y") %></span></td>
                    </tr>
                  </tbody>
                </table>
            </div>
      </section>
      
       <section id="clientinformation">

          <div id="userinfo">
              <span id="e-name">
                <%= @invoice.name %>
              </span>
              <span id="e-address">
                <%= @invoice.address_line1 %>
              </span>
              <span id="e-cityzip">
                <%= @invoice.address_line2 %>
              </span>
              <span id="e-phone">
                <%= @invoice.phone %>
              </span>
            </div>

            <div id="clientinfo">
           		<div class="sectiontitle">Bill To:</div>
           		<span id="e-clientname">
                <%= @invoice.client_name %>
              </span>
                <span id="e-clientaddress">
                <%= @invoice.client_address_line1 %>
                </span>
                <span id="e-clientcityzip">
                <%= @invoice.client_address_line2 %>
                </span>
            </div>
       </section>
       
       <section id="invoiceitems">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tbody>
                <tr class="tableheading">
                  <th width="51%" align="left">Description</th>
                  <th width="16%" align="right">Quantity</th>
                  <th width="15%" align="right">Rate</th>
                  <th width="18%" align="right">Amount</th>
                </tr>
                <% @invoice.jobs.each do |job| %>
                  <tr>
                    <td width="51%"  align="left">
                      
                        <%= print_multiline(job.job_description) %>
                      
                    </td>
                    <td width="16%"  align="right">
                      
                        <%= number_with_precision(job.job_quantity, precision: 2, strip_insignificant_zeros: true, delimiter: ",") %>
                      
                    </td>
                    <td width="15%" align="right">
                      
                        <%= print_number_or_na(job.job_rate) %>
                      
                    </td>
                    <td width="18%" align="right">
                      <span class="pagenum"></span>
                    	<%= print_subtotal(job.job_quantity,job.job_rate) %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
       </section>

       <section id="invoicetax">
    
          <div id="taxinformation">
            <div class="taxamount">
              <strong>Tax:</strong> <span class="e-taxamount onlynumber"><%= @invoice.tax %></span><span class="percentage">%</span>
            </div>
            <div class="taxincluded">
              <%= @invoice.tax_included_text %>
            </div>
          </div>

       </section>
       
       <section id="invoicetotal">
            <span>Total:</span>
            <div id="invoiceamount"><%= number_to_currency(@invoice.total, format: '%u %n') %></div>
       </section>
       
       <% unless @invoice.notes.blank? %>
          <section id="notes">
              <div class="sectiontitle notestitle">Notes:</div>
              <div id="e-notes" contenteditable="<%= @editable %>"><%= print_multiline(@invoice.notes) %></div>
         </section>
       <% end %>
       
    </div>

</div>


<!-- wicked_pdf_javascript_include_tag "pdf/configure_pdf.js" -->
</body>
</html>
