<% if @invoice.nil? %>
  <%= render 'not_found' %>
<% else %>

<aside id="sidebar">
    <div class="scrollwrapper">
      Show Sidebar<br>
      <%= link_to 'edit', edit_invoice_path(@invoice.invoice_number) %>
      <%= link_to 'Back', invoices_path %>
      <%= link_to 'View PDF', invoice_path(@invoice.invoice_number, format: "pdf") %>

      <%= link_to "Delete Invoice", invoice_path(@invoice.invoice_number), method: :delete, data: { confirm: 'Are you sure?' }, class: "button deleteinvoice" %>

    </div>
</aside>

<!-- Start Invioce -->

<div id="invoicewrapper" class="show">
    <div id="invoice">
    
    	<section id="invoicenumber">
       		<div>
            	Invoice No. <span id="e-invoicenumber"><%= @invoice.invoice_number %></span>
            </div>
       </section> 
       
      <section id="companyinformation">
       		<div id="userinfo">
            	<span id="e-name" contenteditable="<%= @editable %>" placeholder="Name">
                <%= @invoice.name %>
              </span><br>
              <span id="e-address" contenteditable="<%= @editable %>" placeholder="Address">
                <%= @invoice.address_line1 %>
              </span><br>
              <span id="e-cityzip" contenteditable="<%= @editable %>" placeholder="City, State, Zip">
                <%= @invoice.address_line2 %>
              </span><br>
              <span id="e-phone" contenteditable="<%= @editable %>" placeholder="Phone">
                <%= @invoice.phone %>
              </span>
            </div>
            <div id="dateterms">
            	<table border="0" cellspacing="0" cellpadding="0">
                  <tbody>
                    <tr>
                      <td align="right">Date:</td>
                      <td class="invoicesetting"><span id="e-date" contenteditable="<%= @editable %>"><%= @invoice.date.strftime("%B %-d, %Y") %></span></td>
                    </tr>
                    <tr>
                      <td align="right">Terms:</td>
                      <td class="invoicesetting">
                      	Net <%= get_terms %>
                      </td>
                    </tr>
                    <tr>
                      <td align="right">Due Date:</td>
                      <td class="invoicesetting"><span id="e-duedate" contenteditable="<%= @editable %>"><%= @invoice.due_date.strftime("%B %-d, %Y") %></span></td>
                    </tr>
                  </tbody>
                </table>
            </div>
      </section>
      
       <section id="clientinformation">
       		<div class="sectiontitle">Bill To:</div>
       		<span id="e-clientname" contenteditable="<%= @editable %>" placeholder="Client Name">
            <%= @invoice.client_name %>
          </span><br>
            <span id="e-clientaddress" contenteditable="<%= @editable %>" placeholder="Client Address">
            <%= @invoice.client_address_line1 %>
            </span><br>
            <span id="e-clientcityzip" contenteditable="<%= @editable %>" placeholder="Client City, State, Zip">
            <%= @invoice.client_address_line2 %>
            </span><br>
       </section>
       
       <section id="invoiceitems">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tbody>
                <tr class="tableheading">
                  <th width="61%" align="left">Description</th>
                  <th width="11%" align="right">Quantity</th>
                  <th width="10%" align="right">Rate</th>
                  <th width="18%" align="right">Amount</th>
                </tr>
                <% @invoice.jobs.each do |job| %>
                  <tr changed="false">
                    <td align="left" class="jobdescriptioncell">
                      <span class="e-jobdescription" contenteditable="<%= @editable %>">
                        <%= job.job_description %>
                      </span>
                    </td>
                    <td align="right" class="quantitycell">
                      <span class="e-quantity" contenteditable="<%= @editable %>" placeholder="Quantity">
                        <%= number_with_precision(job.job_quantity, precision: 2, strip_insignificant_zeros: true, delimiter: ",") %>
                      </span>
                    </td>
                    <td align="right" class="ratecell">
                      <span class="e-rate" contenteditable="<%= @editable %>" placeholder="Rate">
                        <%= print_number_or_na(job.job_rate) %>
                      </span>
                    </td>
                    <td align="right" class="amountcell">
                    	<div class="amountbox"><%= print_subtotal(job.job_quantity,job.job_rate) %></div>
                    	<div class="jobcontrols">
                      	<div class="delete"></div>
                          <div class="insert"></div>
                      </div>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
       </section>
       
       <section id="invoicetotal">
            <div id="invoiceamount"><%= number_to_currency(@invoice.total, format: '%u %n') %></div>
            Total:
       </section>
       
        <section id="notes">
            <div class="sectiontitle notestitle">Notes:</div>
            <div id="e-notes" contenteditable="<%= @editable %>"><%= print_multiline(@invoice.notes) %></div>
       </section>
       
    </div>

</div>

<% end %>
