<% if @invoice.nil? %>
  <%= render 'not_found' %>
<% else %>

<div id="validationerrors" class="amountpaidvalidation">
  <div class="validationtitle">
  <div class="closeerrors"></div>
    Please correct the following errors
  </div>
  <div id="errorholder">
    

  </div>
</div>


<div id="toolbar">
  <div id="toolbarcontent">
    <%= link_to "Back to Invoices", invoices_path, class: "back" %>
    <%= link_to 'Edit Invoice', edit_invoice_path(@invoice.invoice_number), tabindex: '-1', class: "button blue editinvoiceicon" %>
  </div>
</div>

<aside id="sidebar">
    <div class="scrollwrapper">
      <div id="controls">
      <h2 class="showinvoicenumber">Invoice No. <%= @invoice.invoice_number %></h2>
      <%= link_to 'Edit Invoice', edit_invoice_path(@invoice.invoice_number), class: "showbutton firstshowbutton showeditinvoicebutton" %>
      <a href="#" class="emailmodal showbutton showemailinvoicebutton" data-invoice-number="<%= @invoice.invoice_number %>">Email Invoice</a>
      <%= link_to 'View PDF', invoice_path(@invoice.invoice_number, format: "pdf"), class: "showbutton viewpdfbutton" %>
      <h2>
        Record Payment
        <span class="showduedate"><%= @invoice.print_days_until_due %></span>
      </h2>
      <%= form_for(@invoice, :url => update_invoice_path(@invoice.invoice_number), remote: true) do |f| %>

      <div id="showrecordpayment">
        <div class="row invoicetotalrow">
          <div class="cell">Invoice Total</div>
          <div class="cell invoicetotalcell"><%= number_to_currency(@invoice.total) %></div>
        </div>
        <div class="row amountpaidrow">
          <div class="cell amountpaidlabel">- Amount Paid</div>
          <div class="cell">
             <%= f.text_field :amount_paid, value: number_with_precision(f.object.amount_paid, precision: 2), autocomplete: "off" %>
             <span class="e-amountpaid" contenteditable="true" name="invoice[amount_paid]">
              <%= number_with_precision(@invoice.amount_paid, precision: 2) %>
              </span>
          </div>
        </div>
        <div class="row balancerow">
          <div class="cell">Invoice Balance</div>
          <div class="cell balancecell"><%= number_to_currency(@invoice.balance) %></div>
        </div>
      </div>
       <%= f.submit 'Record Payment', class: "button small greenbutton recordpaymentbutton willload" %>
        </div>
       
      <% end %>

      <div id="publicurl">
        <div>Public URL</div>
        <input type="text" class="selectallinput" value="<%= display_public_invoice_url(@invoice) %>" readonly />
      </div>


      <div class="button deleteinvoice deleteicon" data-invoicenumber="<%= @invoice.invoice_number %>">Delete Invoice</div>

    </div>
</aside>

<!-- Start Invioce -->

<div id="invoicewrapper" class="show">

    <div id="invoice">
    
    	<section id="invoicenumber">
       		<div>
            	Invoice No. <span id="e-invoicenumber"><%= @invoice.invoice_number %></span>
            </div>
       </section> 
       
      <section id="companyinformation">

            <div id="invoicelogo">
              <%= image_tag @invoice.logo unless @invoice.logo.blank? %>
            </div>
       		
            <div id="dateterms">
            	<table border="0" cellspacing="0" cellpadding="0">
                  <tbody>
                    <tr>
                      <td align="right">Date:</td>
                      <td class="invoicesetting"><span id="e-date" contenteditable="<%= @editable %>"><%= @invoice.date.strftime("%B %-d, %Y") %></span></td>
                    </tr>
                    <tr>
                      <td align="right">Terms:</td>
                      <td class="invoicesetting">
                      	Net <%= get_terms %>
                      </td>
                    </tr>
                    <tr>
                      <td align="right">Due Date:</td>
                      <td class="invoicesetting"><span id="e-duedate" contenteditable="<%= @editable %>"><%= @invoice.due_date.strftime("%B %-d, %Y") %></span></td>
                    </tr>
                  </tbody>
                </table>
            </div>
      </section>
      
       <section id="clientinformation">

          <div id="userinfo">
            <span id="e-name" contenteditable="<%= @editable %>" placeholder="Name">
              <%= @invoice.name %>
            </span><br>
            <span id="e-address" contenteditable="<%= @editable %>" placeholder="Address">
              <%= @invoice.address_line1 %>
            </span><br>
            <span id="e-cityzip" contenteditable="<%= @editable %>" placeholder="City, State, Zip">
              <%= @invoice.address_line2 %>
            </span><br>
            <span id="e-phone" contenteditable="<%= @editable %>" placeholder="Phone">
              <%= @invoice.phone %>
            </span>
          </div>

          <div id="clientinfo">
         		<div class="sectiontitle">Bill To:</div>
         		<span id="e-clientname" contenteditable="<%= @editable %>" placeholder="Client Name">
              <%= @invoice.client_name %>
            </span><br>
              <span id="e-clientaddress" contenteditable="<%= @editable %>" placeholder="Client Address">
              <%= @invoice.client_address_line1 %>
              </span><br>
              <span id="e-clientcityzip" contenteditable="<%= @editable %>" placeholder="Client City, State, Zip">
              <%= @invoice.client_address_line2 %>
              </span><br>
            </div>
       </section>
       
       <section id="invoiceitems">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tbody>
                <tr class="tableheading">
                  <th width="61%" align="left">Description</th>
                  <th width="11%" align="right">Quantity</th>
                  <th width="10%" align="right">Rate</th>
                  <th width="18%" align="right">Amount</th>
                </tr>
                <% @invoice.jobs.each do |job| %>
                  <tr changed="false">
                    <td align="left" class="jobdescriptioncell">
                      <span class="e-jobdescription" contenteditable="<%= @editable %>">
                        <%= print_multiline(job.job_description) %>
                      </span>
                    </td>
                    <td align="right" class="quantitycell">
                      <span class="e-quantity" contenteditable="<%= @editable %>" placeholder="Quantity">
                        <%= number_with_precision(job.job_quantity, precision: 2, strip_insignificant_zeros: true, delimiter: ",") %>
                      </span>
                    </td>
                    <td align="right" class="ratecell">
                      <span class="e-rate" contenteditable="<%= @editable %>" placeholder="Rate">
                        <%= print_number_or_na(job.job_rate) %>
                      </span>
                    </td>
                    <td align="right" class="amountcell">
                    	<div class="amountbox"><%= print_subtotal(job.job_quantity,job.job_rate) %></div>
                    	<div class="jobcontrols">
                      	<div class="delete"></div>
                          <div class="insert"></div>
                      </div>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
       </section>

       <section id="invoicetax">
    
          <div id="taxinformation">
            <div class="taxamount">
              Tax: <span class="e-taxamount onlynumber" contenteditable="<%= @editable %>"><%= @invoice.tax %></span><span class="percentage">%</span>
            </div>
            <div class="taxincluded">
              <%= @invoice.tax_included_text %>
            </div>
          </div>
       </section>
       
       <section id="invoicetotal">
            <div id="invoiceamount"><%= number_to_currency(@invoice.total, format: '%u %n') %></div>
            Total:
       </section>
       
        <section id="notes">
            <div class="sectiontitle notestitle">Notes:</div>
            <div id="e-notes" contenteditable="<%= @editable %>"><%= print_multiline(@invoice.notes) %></div>
       </section>
       
    </div>

</div>

<% end %>
