<%= provide :title, "Settings" %>
<div id="pagewrapper" class="userpage">

<div id="settingstoggles">
	<div id="profiletoggle" class="active">Profile</div>
	<div id="logotoggle">Logo</div>
</div>

<div id="usersettingshalf" class="halfpage paddinganimate">

	<div class="clientsformwrapper">

		<div class="clientformtitle">Your Profile</div>

			<div id="validationerrors" class="clienterrors">
				<div class="validationtitle">
					<div class="closeerrors"></div>
					Please correct the following errors before saving
				</div>
				<div id="errorholder"></div>
			</div>

		<div class="formholder">

			<%= form_for(@user, remote: true) do |f| %>
				<div id="profilefields">

				<%= f.label :name %>
					<%= f.text_field :name, placeholder: "Name" %>
					
					<div class="half">
						<%= f.label :email %>
						<%= f.text_field :email, placeholder: "Email" %>
					</div>

					<div class="half nomargin">
						<%= f.label :phone %>
						<%= f.text_field :phone, placeholder: "Phone Number" %>
					</div>

					<div class="half">
						<%= f.label :address %>
						<%= f.text_field :address, placeholder: "Address" %>
					</div>

					<div class="half nomargin">
						<%= f.label :city %>
						<%= f.text_field :city, placeholder: "City" %>
					</div>

					<div class="half">
						<%= f.label :state %>
						<%= f.text_field :state, placeholder: "State" %>
					</div>

					<div class="half nomargin">
						<%= f.label :zip %>
						<%= f.text_field :zip, placeholder: "Zip Code" %>
					</div>

				</div>

				<div id="settingfields">
				
					<div class="clientformtitle">Change Password</div>

					<div class="half">
						<%= f.label :password %>
		    			<%= f.password_field :password, autocomplete: "off" %>
	    			</div>

	    			<div class="half nomargin">
	    				<%= f.label :password_confirmation %>
	   					<%= f.password_field :password_confirmation, autocomplete: "off" %>
	   				</div>

	   				<div id="userpreferences">

						<div class="clientformtitle">Preferences</div>
					
						<%= f.fields_for :setting, @setting do |c| %>
							<div class="half baseinvoicehalf">
								<%= c.label :base_invoice_number %>
								<%= c.text_field :base_invoice_number, class: "onlynumber" %>
							</div>

							<div class="half baseestimatehalf nomargin">
					            <%= c.label :base_estimate_number %>
								<%= c.text_field :base_estimate_number, class: "onlynumber" %>
							</div>

							<div class="full hastaxhalf">
								<div class="hastaxtitle">Tax: <span class="hastaxtext">No Tax</span></div>
								<div id="hastaxwrapper">
						            <%= c.check_box :has_tax, class: "cmn-toggle cmn-toggle-round taxtoggle" %>
						            <%= c.label :has_tax, '', class: "cmn-toggle-1" %>
						          </div>
							</div>
							
							<div id="profiletax" class="full">
						          <div id="taxinformation">
						            <div class="taxamount">
						            	<%= c.label :tax, 'Tax Amount' %><br>
						             	<%= c.text_field :tax, class: "tax-rate-box onlynumber", maxlength: 11  %>
						            </div>
						            <div class="taxincluded">
						              <div class="checkboxholder">
						                <%= c.check_box :tax_included, class: "includedtoggle" %>
						                <label for="user_setting_attributes_tax_included"><span></span>
						                  <div>
						                    <div>Tax Inclusive:</div><br>
						                    <div class="inclusiontext">Do not include tax in invoice total</div>
						                  </div>
						                </label>
						              </div>
						            </div>
						          </div>
							</div>
						<% end %>
						<div class="full">
							<%= f.submit "Save Profile", class: "button blue willload saveicon" %>
						</div>
					</div>

				</div>	

			<% end %>

		</div>

	</div>

</div>


<div id="userlogohalf" class="halfpage">

	<div class="logosection">

		<div class="clientformtitle">Logo</div>
		<p>Upload a logo to display on your invoices.</p>
			
		<div id="modalvalidationerrors" class="logovalidation">
			<div class="validationtitle">
				<div class="closeerrors"></div>
				Please correct the following errors
			</div>
			<div id="logoerrorholder"></div>
		</div>

		<div class="logoformholder<%= " nologos" if @user.logos.empty? %>">
			<%= form_for(@logo, html: { multipart: true, class: "dropzone logouploader" }) do |f| %>
				<div id="imageloading"><div class="throbber-loader">Loading...</div></div>
				<%= image_tag @user_logo.url(:screen), draggable: "false", class: "userlogo" unless no_current_logos? %>
			<% end %>
			<br>
			<div id="dropzoneclickable" class="button blue uploadicon needsclick"><span>Or click here to upload</span></div>
			

		</div>

		<%= link_to 'Delete Logo', @user.current_logo, id: "deletelogobutton", class: "deleteicon deletelogo button", data: {confirm: 'Are you sure?'}, method: :delete  %>
		<br clear="both">

	</div>


</div>


</div>