
<div id="pagewrapper" class="userpage">

<div class="halfpage">

	<div class="clientsformwrapper">

		<div class="clientformtitle">Your Profile</div>

			<div id="validationerrors" class="clienterrors">
				<div class="validationtitle">
					<div class="closeerrors"></div>
					Please correct the following errors before saving
				</div>
				<div id="errorholder"></div>
			</div>

		<div class="formholder">

			<%= form_for(@user, remote: true) do |f| %>
				<%= f.text_field :name, placeholder: "Name" %>
				
				<div class="half">
					<%= f.label :email %>
					<%= f.text_field :email, placeholder: "Email" %>
				</div>

				<div class="half nomargin">
					<%= f.label :phone %>
					<%= f.text_field :phone, placeholder: "Phone Number" %>
				</div>

				<div class="half">
					<%= f.label :address %>
					<%= f.text_field :address, placeholder: "Address" %>
				</div>

				<div class="half nomargin">
					<%= f.label :city %>
					<%= f.text_field :city, placeholder: "City" %>
				</div>

				<div class="half">
					<%= f.label :state %>
					<%= f.select :state, options_for_select(us_states, selected: @user.state), prompt: "Select a state", class: "half" %>
				</div>

				<div class="half nomargin">
					<%= f.label :zip %>
					<%= f.text_field :zip, placeholder: "Zip Code" %>
				</div>

				<div class="clientformtitle">Preferences</div>

				<div id="userpreferences">
					<div class="half">
						<%= f.fields_for :setting, @setting do |c| %>
							<%= c.label :base_invoice_number %>
							<%= c.text_field :base_invoice_number, class: "onlynumber" %>
						<% end %>
					</div>
					<div class="half nomargin">
						<%= f.submit "Update Profile", class: "button blue willload" %>
					</div>
				</div>

			<% end %>

		</div>

	</div>

</div>


<div class="halfpage">

	<div class="logosection">

		<div class="clientformtitle">Logo</div>
		<p>Upload a logo to display on your invoices.</p>
			
		<div id="modalvalidationerrors" class="logovalidation">
			<div class="validationtitle">
				<div class="closeerrors"></div>
				Please correct the following errors
			</div>
			<div id="logoerrorholder"></div>
		</div>

		<div class="logoformholder<%= " nologos" if @user.logos.empty? %>">
			<%= form_for(@logo, html: { multipart: true, class: "dropzone logouploader" }) do |f| %>
				<div id="imageloading"><div class="throbber-loader">Loading...</div></div>
				<%= image_tag @user_logo.url(:screen), draggable: "false", class: "userlogo" unless @user.logos.empty? %>
			<% end %>
			<br>
			<div id="dropzoneclickable" class="button blue">Or click here to upload</div>
		</div>
	</div>

</div>


</div>