<%= provide :title, "Change Your Password" %>
<%= provide :special_class, " static" %>

<div id="pagewrapper" class="staticwrapper smallbox paddinganimate registerbox">
  <h1>Change your password</h1>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>
    <%= f.hidden_field :reset_password_token %>

    <div class="field">
      <div style="display:flex; justify-content: space-between">
        <%= f.label :password, "New password" %>
        <% if @minimum_password_length %>
          <em style="font-size:12px; margin-bottom:3px; text-align:right; flex-grow: 1; color: #747474">(<%= @minimum_password_length %> characters minimum)</em><br />
        <% end %>
      </div>
      <%= f.password_field :password, autofocus: true, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, "Confirm new password" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>

    <p class="staticsubmit">
      <%= f.submit "Change my password", class: "button blue willload registerbutton" %>
    </p>
  <% end %>
</div>