<footer <%= mobile_footer_class(is_mobile) %>>
	<div class="copy">
		&copy; <%= Time.now.year %>, Simple Invoice, All Rights Reserved <%= link_to "Privacy Policy", privacy_policy_path, class: "privacylink" %>
	</div>
	<div class="footernav">
		<%= link_to "Contact", contact_path %>
		<%= link_to "About", about_path %>
	</div>
</footer>