var pageBody = $('body'),
	validationErrors = $('#validationerrors'),
	errorHolder = $('#errorholder');

setTimeout(function() {
	var oldContent = $('.buttoncontent').text();
	var button = $('.hasloadingtext');

	if (button.is('input')) {
		button.val(oldContent);
		button.prop('disabled', false);
	} else {
	button.text(oldContent);
	}

	button.removeClass('loading hasloadingtext');
	$('.buttoncontent').empty().remove();
	
}, 200);

<% if @client.errors.any? %>


<% @client.errors.each do |key, message| %>

var key = "<%= key %>"
var message = "<%= message %>"

var errorInput = $("input[name='client[" + key + "]']");
errorInput.addClass('haserror');

<% end %>

errorHolder.empty();

<% @client.errors.full_messages.each do |message| %>

var message = '<%= message %>'

errorHolder.append('<p>' + message + '</p>');

<% end %>

// Show the validation errors list after they are added

var validationsHeight = validationErrors.outerHeight(),
	negativeValidationsHeight = -1 * validationsHeight;

validationErrors.css({
	'margin-bottom' : negativeValidationsHeight,
	'display' : 'block'
});

validationsHeight += 5;

$('.formholder').css({
 //'padding-bottom' : validationsHeight,
  '-webkit-transform' : 'translateY(' + validationsHeight + 'px)',
  '-moz-transform'    : 'translateY(' + validationsHeight + 'px)',
  '-ms-transform'     : 'translateY(' + validationsHeight + 'px)',
  '-o-transform'      : 'translateY(' + validationsHeight + 'px)',
  'transform'         : 'translateY(' + validationsHeight + 'px)'
});

<% else %>

$('.success').remove();
pageBody.append('<div class="success"> <div class="successtimer"></div><div class="closesuccess"></div><span><%= flash[:success] %></span></div>');
	<% flash.discard %>

validationErrors.removeAttr('style').removeClass('hastransformed').hide();
$('.formholder').removeAttr('style');

var clientNameField = $('#client_name');
clientNameField.val(clientNameField.val().replace(/\s+/g,' ').trim());

// Update
// Render updated list of clients

var currentPage = $('em.current').text() || 1;
var clientNameText = $('.client_name_search').val();


 $.ajax({
	type: 'GET',
	url: '/clients/?client_name=' + clientNameText + '&page=<%= @pagination_page %>',
	dataType: 'script',
	async: true
	}).done(function( msg ) {
	//console.log(msg)
	//  hideLoader();
	}).fail(function(msg){
	console.log(msg)
});

// Add selected class to client after pagination
var id = $('.edit_client').attr('data-id');

if ($(window).width() > 885) {
	$('.client[data-id=' + id + ']').addClass('selected');
} else {
	$('.selected').removeClass('selected');
}

var pageBody = $('body');
var pageWrapper = $('#pagewrapper');
var clientFilter = $('#clientfiltering');

//clientFilter.detach().appendTo('#clientsearch');

var clientContainer = $('#clientscontainer');
var clientSearch = $('#clientsearch');
var clientsSidebar = $('#clientssidebar');

function setClientFilter() {
	var width = clientContainer.outerWidth();
	var clientContainerPosition = clientContainer.offset();

	//pageWrapper.css('top', clientFilter.outerHeight() + clientSearch.outerHeight() + 63);

	clientSearch.css({
		'left': clientContainerPosition.left,
		'width': width
	});


	clientsSidebar.css({
		'left': clientContainerPosition.left + width - 1,
		'width': width
	});

}

setClientFilter();

if (pageBody.hasClass('clientsformopen') && $(window).width() <= 885) {
	$('.selected').removeClass('selected');
} 

pageBody.removeClass('clientsformopen');

<% end %>
