<div id="pagewrapper" class="staticwrapper smallbox paddinganimate">

  <h1>Log In</h1>

  <div id="validationerrors" class="clienterrors">
    <div class="validationtitle">
      <div class="closeerrors"></div>
      Please correct the following errors
      </div>
    <div id="errorholder"></div>
  </div>


  <div class="formholder">

   <div class="sessionerrortext">Invalid username or password.</div>
    <%= form_for(:user, url: session_path(:user), remote: true, html: { class: "loginform" }) do |f| %>

        <%= f.label :email %>
        <%= f.email_field :email, id: "login_user_email", placeholder: "Email address" %>

        <%= f.label :password %>
        <%= f.password_field :password, autocomplete: "off", placeholder: "Password" %>

        <%= link_to "Forgot Password", forgotpassword_path, class: "forgotpassword" %>
        <%= f.submit "Log in", class: "button blue willload loginbutton" %>

        <div class="sessionbottomtext">Don't have an account? <%= link_to "Register", new_registration_path(:user), class: "showregister" %></div>

    <% end %>

  </div>



</div>