<!DOCTYPE html>
<html>
<head>
  <title>Invoicer</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
	<%= link_to image_tag("logo.png", alt: "Invoicer"), invoices_path, class: "logo" %>
	<% if user_signed_in? %>
	<nav>
		<%= link_to "Invoices", invoices_path %>
		<%= link_to "Clients", clients_path %>
	</nav>

	<%= link_to "New Invoice", new_invoice_path, class: "button blue" %>

	<div id="sessioninfo">
		
			<%= link_to "Log Out", destroy_user_session_path, :method => :delete %>
			<%= link_to "Profile", settings_path %>
	</div>
	<% else %>
			<div id="sessioninfo">
			<%= link_to "Sign In", new_user_session_path %>
			</div>
	<% end %>		
</header>

<% if flash[:success] %>
	<div class="success">
	  <div class="successtimer"></div>
	  <div class="closesuccess"></div>
	  <span><%= flash[:success] %></span>
	</div>
<% end %>

<%= yield %>

</body>
</html>
