<!DOCTYPE html>
<html>
<head>
  <title><%= page_title %></title>
  <%= favicon_link_tag 'favicon.png' %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <% if content_for?(:nophone) %><meta name="format-detection" content="telephone=no"><% end %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>


<body class='<%= "#{@browser.platform} #{@browser.name.downcase}" %><%= yield :special_class %>'>

<header>
	<%= link_to "", root_url, class: "logo" %>
	<div id="menu">
		<% if user_signed_in? %>
		<nav>
			<%= link_to "Invoices", invoices_path, class: "navinvoices#{current_page('invoices')}" %>
			<%= link_to "Clients", clients_path, class: "navclients#{current_page('clients')}" %>
		</nav>

		<%= link_to "New Invoice", new_invoice_path, class: "button blue newinvoiceicon" %>

		<div id="sessioninfo">
			<%= link_to "Log Out", destroy_user_session_path, :method => :delete, class: "navsignout" %>
			<%= link_to "Settings", settings_path, class: "navprofile#{current_page('users')}" %>
		</div>

		<% else %>
			<div id="sessioninfo" class="notsignedin">
				<%= link_to "Register", register_path, class: "showregister#{current_page('registrations')}" %>
				<%= link_to "Sign In", sign_in_path, class: "signinbutton#{current_page('sessions')}" %>
				<%= link_to "Home", root_url, class: "sessionhome" %>
			</div>
		<% end %>	
	</div>	
</header>

<%= yield :outside_content %>

<% if flash[:success] %>
	<div class="success">
	  <div class="successtimer"></div>
	  <div class="closesuccess"></div>
	  <span><%= flash[:success] %></span>
	</div>
<% end %>

<div id="htmlwrapper">

<% if content_for?(:mobilesidebar) %>
<div id="mobilesidebar"><span></span></div>
<% end %>

<div id="contentwrapper">

	<%= yield %>

</div>


</div>

</body>
</html>
