<!DOCTYPE html>
<html>
<head>
  <title>Invoicer</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- Modal Content
<div id="modaloverlay">
	<div id="modalwindow">
		<div id="modaltitle">Clients</div>
		<div id="modalcontent">
			<p>Test</p>
		</div>
	</div>
</div>
-->

<header>
	<%= link_to image_tag("logo.png", alt: "Invoicer"), invoices_path, class: "logo" %>

	<%= link_to "Clients", clients_path %>

	<div id="sessioninfo">
		<% if user_signed_in? %>
			Signed in as: <%= current_user.email %> | <%= link_to "Log Out", destroy_user_session_path, :method => :delete %>
			  | <%= link_to "Edit Profile", edit_user_path(current_user) %>
		<% else %>
			Sign In
		<% end %>
	</div>
</header>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
