<!DOCTYPE html>
<html>
<head>
  <title><%= page_title %></title>
  <%= favicon_link_tag 'favicon.png' %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <%= favicon_link_tag 'apple-touch-icon.png', rel: 'apple-touch-icon', type: 'image/png' %>
  <% if content_for?(:nophone) %><meta name="format-detection" content="telephone=no"><% end %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>


<body class='<%= "#{@browser.platform} #{@browser.name.downcase}" %><%= yield :special_class %> <%= controller_name %>'>
<%= render 'shared/header' %>

<%= yield :outside_content %>

<% if flash[:success] %>
	<div class="success">
	  <div class="successtimer"></div>
	  <div class="closesuccess"></div>
	  <span><%= flash[:success] %></span>
	</div>
<% end %>

<div id="htmlwrapper">

<% if content_for?(:mobilesidebar) %>
<div id="mobilesidebar"><span></span></div>
<% end %>

<%= mobile_create_button %>

<div id="contentwrapper">

	<%= yield %>

	<%= render 'shared/footer', is_mobile: true %>

</div>

</div>

<%= render 'shared/footer', is_mobile: false %>

<% if Rails.env.production? %>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-80143810-1', 'auto');
    ga('send', 'pageview');

  </script>
<% end %>
</body>
</html>
